client/logs
client/*.log
client/npm-debug.log*
client/yarn-debug.log*
client/yarn-error.log*
client/pnpm-debug.log*
client/lerna-debug.log
client/node_modules
client/dist
client/dist-ssr
client/*.local
client/.vscode
client/.idea
client/.DS_Store
client/*.suo
client/*.ntvs*
client/*.njsproj
client/*.sln
client/*.sw?
client/.env*

server/node_modules
server/.pnp
server.pnp.js
server.yarn/install-state.gz
server/coverage
server//build
server/out
server/dist
server/.DS_Store
server/*.pem
server/npm-debug.log*
server/yarn-debug.log*
server/yarn-error.log*
server/.env*.local
server/.vercel
server/*.tsbuildinfo
server/_scratchbook.md
server/*.db
server/.env*
